/* font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif; */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#wrapper{
    height: 100vh;
    overflow-x: hidden;
    /* as we don't want to scroll image sideways */
    overflow-y: auto;
    perspective: 20px;
    /* value se zyada farak nhi padta but hame perspective on karna padta hai so as to make 3D effect*/
}
.container{
    position: relative;
    /* because we want to add heading and images as absolute position so that they overlap under this container so their parent element should */
    /* have non-static position: */
    height: 100%;
    display: flex;
    /* hecne this makes our images as flex-items
    also flex ki default direction rowwise hoti hai */
    justify-content: center;
    align-items: center;
    /* this makes the all the content to center aligned */
    transform-style: preserve-3d;
    /* because we are working for a 3d effects hence we explicitly tell the browser to preserve 3d effect 
    ye nahi karenge toh 2d game ho jayeg and same plane par dono images aa ajayengi*/
    z-index: -1;
    /* this defines kaunsi layer kiske upar aana wali hai so this attribute makes all the child elements of this element */
    /* to have a z-index of -1 and by default 0 wali image sabse upar aati hai */
    /* also yahaan par z-index specify karna is imp kyunki aap baaki layers bhi toh lagaoge iss page par, tab it'll help */

}
.background{
    /* now we have to make this appear far from us */
    transform: translateZ(-80px) scale(6);
    /* kyunki aise uncle door chale jayenge but scale karne se waapis hum unhe paas le aayeneg */
    /* background-position: center; */
}
.foreground{
    transform: translateZ(-40px) scale(3);
}
.background, .foreground{
    position: absolute;
    /* to make them overlap */
    height: 100%;
    width: 100%;
    z-index: -1;
    /* kyunki positioning karni hai */
    object-fit: cover;
    /* pata lagao */
}
#first-heading{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 4px;
    font-size: 10rem;
    text-shadow: 0 0 10px rgb(0,0,0,0.3);

}
section{
    background-color: rgb(45, 45, 45);
    color: white;
    padding: 5rem 0;
}
.sec-heading{
    font-size: 5rem;
    padding: 0 10rem;
}
.text{
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
}
.bg{
    position: relative;
    /* as hamein inke child ko absolute positioning deni hai */
    width: 100%;
    background-attachment: fixed;
    /* very imp for the image to be fixed even when we scroll it */
    background-size: cover;
    background-position: center;
    /* these are 2 important properties which'll help place the image to its original photolike, means not zoomed in and not  */
    /* mis positioned */
    height: 500px;
}
.desc{
    position: absolute;
    /* as hamein overlap karna hai */
    background-color: white;
    color: black;
    padding: 0.5rem 2.5rem;
    top: 50%;
    left: 50%;
    font-size: 3.5rem;
    transform: translateX(-50%) translateY(-50%);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

}
.bg1{
    background-image: url(sport-1.jpg);
}
.bg2{
    background-image: url(sport-2.jpg);
}
.bg3{
    background-image: url(sport-3.jpg);
}
