*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    background-color: rgb(242,235,227);
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.container{
    border: 2px solid red;
    display: flex;
    position: relative;
    /* min-width: 650px;
    max-width: 700px;
    min-height: 400px;
    max-height: 450px; */
    /* min-height: 400px;
    min-width: 500px; */
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* transform: translateX(400px);
    transform: translateY(400px); */
    
}
.card-box{
    background-color: white;
    position: absolute;
    height: 50%;
    max-height: fit-content;
    min-height: 55%;
    width: 50%;
    /* max-width: 700px; */
    /* min-width: 650px; */
    display: flex;
    justify-content: space-between;
    border-radius: 1.5em;
    overflow: hidden;
    margin: 16px 32px;
}
.photu{
    position: absolute;
    /* rgb(60,128,103) */
    height: 100%;
    width: 45%;
    object-fit: fill;
}
.card-text{
    position: absolute;
    width: 55%;
    height: 100%;
    transform: translateX(90%);
}
#text-heading{
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 16px;
    letter-spacing: 0.3rem;
    font-weight: 700;
    text-align: left;
    font-family: 'Montserrat', sans-serif;

}
#second-heading{
    margin: 0.6em 0 0.7em ;
    font-size: 32px;
    /* width: 80%; */
    min-width: 60%;
    max-width: 70%;
    font-weight: bolder;
    line-height: 1;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    font-family: 'Fraunces', serif;
}
#desc{
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    font-weight: 700;
    margin-bottom: 1.5rem;
    margin-block-start: 1em;
    margin-block-start: 1em;
    font-size: 1rem;
}
#disc-price{
    margin-right: 0.4em;
    /* margin: 50%; */
    color: rgb(61,128,104);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2em;
    line-height: 1;
    margin: 0.6em 0 0.7em 0 ;
}
#price{
    margin-bottom: 1.5em;
    margin-left: 0.5em;
    font-weight: 500;
    color: grey;
    font-size: 1rem;
}
#add-to-cart{
    margin: 2em 0 1em 0;
    width: 85%;
    padding: 1em 0;
    background-color:rgb(61,128,104);
    color: white;
    border: 0;
    border-radius: 0.7em;
    cursor: pointer;
    text-indent: 8px;
}
#add-to-cart:hover{
    background-color: rgb(19, 48, 38);
}
#cart-image{
    margin-right: 1rem;
    max-width: 100%;
}
#text-cart{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
}
